{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>One Liner</title>

    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <script src="//use.typekit.net/cui8tby.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
  </head>
  <body>
    {% block navigation %}
      {% include '_nav.html' %}
    {% endblock %}

    

    <div class="content app">
      <div class="inner-alt">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      
      {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <div class="inner">
        Brought to you by the Institute for Nonprofit News and the Knight Prototype Fund.
      </div>
    </footer>

    <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  </body>
</html>
