{% extends '_base_alt.html' %}
{% load staticfiles %}

{% block content %}
<!--<p>One Liner is a web service that helps you determine what third-party services to add to your site.</p>-->
<section class="slide intro">
    <div class="inner">
      <div class="abs-center">
        <h2 class="cute">Coming soon!</h2>
        <img src="{% static 'images/oneliner-mono-logo-white.svg' %}" alt="One Liner logo" width="100%" class="feature-logo mono"/>
        <p class="slogan">the ultimate line of code</p>
        <ul id="paths">
          <li><span class="button"><a href="#learn-more">Learn more</a></span></li>
          <li><span class="button alt"><a href="{% url 'register' %}">Get started</a></span></li>
        </ul>
        <div class="sign-up" style="display:none;">
          <p>Sign up for updates:</p>
          <!-- <form id="get-updates">
            <label for="mailchimp-email">Email</label>
            <input id="mailchimp-email" type="text" placeholder="your email">
          </form> -->
          <div id="sign-up">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="//inn.us1.list-manage.com/subscribe/post?u=81670c9d1b5fbeba1c29f2865&amp;id=1476113985" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
               <div id="mc_embed_signup_scroll">
                <h3>Subscribe to our mailing list</h3>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your email">
            </div>
            <div class="mc-field-group hidden">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="first name">
            </div>
            <div class="mc-field-group hidden">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="last name">
            </div>
            <div class="mc-field-group input-group">
               <strong>Project Updates </strong>
               <ul><li><input type="checkbox" value="1" name="group[4097][1]" id="mce-group[4097]-4097-0"><label for="mce-group[4097]-4097-0">Largo</label></li>
            <li class="hidden"><input type="checkbox" value="2" name="group[4097][2]" id="mce-group[4097]-4097-1" checked><label for="mce-group[4097]-4097-1">One Liner</label></li>
            </ul>
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_81670c9d1b5fbeba1c29f2865_1476113985" tabindex="-1" value=""></div>
               <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
               </div>
            </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div>
</section>
<section class="slide" id="intro-spacer">
  
</section>
<section id="learn-more">
  <div class="inner-alt"> 
    <h2>About One Liner</h2>
    <h3>The ultimate line of code</h3>
    <p>One Liner helps organizations make better choices about their third-party services. It is the single-line-of-code service to end (remedy) all single-line-of-code services.</p>
    <h3>Code for the rest of us</h3>
    <p>This is for the editor, reporter (or other web writer) who doesn’t have a lot of experience with web development, cringes at the sight of javascript and generally does not want to be responsible for the addition of these types of features and services but often finds the responsibility falls to them. These folks might also be their organization’s technologist by default or be serving several roles for the company as in the case of very small INN members (think: when you have one or two people of staff, you have to do a little bit of everything).</p>
  </div>
</section>
<section id="how-it-works">
  <div class="inner-alt"> 
    <h2>How it works</h2>
    <h3>One Liner has a few components:</h3>
    <ul>
    <li style="font-weight: 400;">A <b>research tool</b> listing some of the most common third-party services one might add to their site along with some simple information about each, including possible performance and privacy implications. The tool will also help organizations make informed decisions and select tools that are best suited for the size of their organization and the problems they are trying to solve.</li>
    <li style="font-weight: 400;">A <b>configuration dashboard</b> where users can select from the list of supported services and walk through the setup process without leaving the dashboard. No searching for documents. No struggling to understand. Let One Liner guide the way.</li>
    <li style="font-weight: 400;">A <b>web service</b> not unlike the services we’re looking to remedy. Once the user has selected and configured the third-party services they would like to use, we’ll deliver a single line of code they can add to their site. This single line of code will be responsible for loading the specified services and their configurations from the One Liner application.</li>
    </ul>
  </div>
</section>
<section id="faq">
  <div class="inner-alt"> 
    <h2>Frequently Asked Questions</h2>
    <h3>Where did the name "One Liner" come from?</h3>
    <p>One Liner is named after the “just one line of code” selling point often cited by many third-party services.</p>
    <h3>How did it come to be?</h3>
    <p>The Institute for Nonprofit News received a Knight Prototype Fund grant to build One Liner. (<a href="//nerds.inn.org/2016/02/22/inn-receives-knight-prototype-grant/" target="_blank">Read the announcement!</a>) The Knight Prototype Fund is a grant program helping media organizations, technologists and newcomers or hobbyists develop new ideas from concept phase to, hopefully, a live demonstration.</p>
  </div>
</section>
{% endblock %}
