{% extends '_base.html' %}

{% block content %}
<h2>Welcome, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h2>

<h3>Your One Liner:</h3>
<textarea class="one-liner">&lt;script&gt;(function(){var s,f;s=document.createElement('script');s.src='{{ one_liner_src }}';f=document.getElementsByTagName('script')[0];f.parentNode.insertBefore(s,f);})();&lt;/script&gt;</textarea>
<p><a href="{% url 'instructions' %}">Read the instructions for installing One Liner on your site</a></p>

<h3>Configured services</h3>
<ul>
  {% for config in configured_services %}
    <li>
      {{ config.service.name }} ({{ config.service.account_id_label }}: {{ config.account_id }})
      <div class="actions">
        <ul>
          <li><a href="{% url 'service_edit' config.service.name %}">Edit settings</a></li>
          <li><a href="{% url 'service_remove' config.service.name %}">Remove from my config</a></li>
        </ul>
    </li>
  {% endfor %}
</ul>
<p><a href="{% url 'services' %}">Add another service</a></p>
{% endblock %}
