{% extends '_base.html' %}

{% block content %}
<h2 class="cute">Welcome, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h2>

<h1>Your One Liner:</h1>
<textarea class="one-liner">&lt;script&gt;(function(){var s,f;s=document.createElement('script');s.src='{{ one_liner_src }}';f=document.getElementsByTagName('script')[0];f.parentNode.insertBefore(s,f);})();&lt;/script&gt;</textarea>
<p><a href="{% url 'instructions' %}">Instructions to install One Liner on your site</a></p>

<h3>Configured services</h3>
<ul>
  {% for config in configured_services %}
    <li>
      <span class="service-name">{{ config.service.name }}</span> <span class="service-label">({{ config.service.account_id_label }}: {{ config.account_id }})</span>
      <div class="actions">
        <ul>
          <li><a href="{% url 'service_edit' config.service.name %}">Edit settings</a></li>
          <li><a href="{% url 'service_remove' config.service.name %}">Remove</a></li>
        </ul>
      </div>
    </li>
  {% endfor %}
</ul>
<button class="button"><a href="{% url 'services' %}">Add a service</a></button>
{% endblock %}
