{% extends '_base.html' %}

{% block content %}
<h1>Available services</h1>
<ul>
  {% for service in services %}
  <li class="service">
    <h3><a href="{% url 'service' service.name %}">{{ service.name }}</a></h3>
    <table>
      <th>Price</th>
      <th>Performance</th>
      <th>Privacy</th>
      <tr>
        <td>{{ service.price }}</td>
        <td>{{ service.performance }}</td>
        <td>{{ service.privacy }}</td>
      </tr>
    </table>
    {% if service.id in existing_configs %}
      <p>You already have this service added to your configuration.</p>
      <div class="actions">
        <ul>
          <li><a href="{% url 'service_edit' service.name %}">Edit settings</a></li>
          <li><a href="{% url 'service_remove' service.name %}">Remove service</a></li>
        </ul>
      </div>
    {% elif not user.userprofile.organization %}
      <p><a href="{% url 'survey' %}">Tell us about your company before adding services</a></p>
    {% else %}
      <p><a href="{% url 'service_add' service.name %}">Add this service</a></p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
