{% extends '_base_alt.html' %}
{% load staticfiles %}

{% block content %}
<section class="slide color">
	<div id="register" class="form-wrapper entry-form">
		<img src="{% static 'images/oneliner-mono-logo-white.svg' %}" alt="One Liner logo" width="100%" class="feature-logo" />
		<form action="{% url 'register' %}" method="post">			
			<h1>Get Started</h1>
		    {% csrf_token %}
		    {{ form }}
		    <input id="btnRegister" class="button" type="submit" value="Sign Up" />
		</form>
		<p>Already have an account? <a href="{% url 'login' %}">Sign in here</a>.</p>
	</div>
</section>
{% endblock %}
